/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: rgb(75,191,107);
}

header{
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
}

.trello-logo{
    white-space: nowrap;
    position: fixed;
    display: inline-block;
    font-size: 30px;
    font-weight:700;
    color: rgba(255,255,255, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding:5px 0;
    vertical-align: middle;
    left:45%;
    right: 50%;
}

.header-dashboard,
.header-userboard{
    color:white;
    display: inline-block;
    font-size: 24px;
    font-weight:400;
    margin:7px 0 7px 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(255,255,255, 0.3);
    vertical-align: middle;
}

.header-userboard:hover,
.header-dashboard:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,1);
    color: #377d24;
}

.header-dashboard{
    background-color: rgba(255,255,255,1);
    color: #377d24;
}

.header-dashboard a,
.header-userboard a{
    text-decoration: none;
    color: inherit;
}

.trello-logo:hover{
    color:rgba(255,255,255, 1);
    cursor: pointer;
}

.account-management{
    position: relative;
    min-height: 50px;
    font-size: 14px;
    padding:20px 0;
    line-height: 20px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

strong{
    font-weight: 700;
}

.learn-more{
    margin-left: 72px;
    background-color: #5aac44;
    color:white;
    padding: 6px 24px;
    border:none;
    border-radius: 3px;
    cursor: pointer;
}

.learn-more:hover{
    background-color: #377d24;
}

.header-2{
    margin: 5px 5px;
}

.practice-project{
    display: inline-block;
    border-radius: 3px;
    width: 125px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 12px;
    color:white;
    background-color: rgba(255,255,255, 0);
}

.practice-project:hover{
    cursor: pointer;
    background-color: rgba(255,255,255, 0.5);
}

.btn-alt{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    vertical-align: bottom;
    padding:6px;
    background-color: rgba(255,255,255, 0.3);
}

.btn-alt:hover{
    cursor: pointer;
    background-color: rgba(255,255,255, 0.5);
}

.card-group{
    display: block;
    margin: 0 5px;
    margin-top:10px;
    overflow: auto;
    white-space: nowrap;
}

.card{
    margin-right: 5px;
    background-color: #ebecf0;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 272px;
    margin: 0 4px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    /*white-space: nowrap;
    margin-bottom: 10px;
    max-height: 880px;
    overflow:auto;*/
    max-height: 100%;
}

.card-content-group{
    width: 272px;
    white-space: nowrap;
    max-height: 830px;
    overflow:auto;
}

.card-group .card:last-of-type{
    margin-right: 0;
}


.card-title{
    cursor: pointer;
    font-weight: 500;
    font-size:24px;
    padding: 10px 10px;
    padding-left: 15px;
}
.card-user-name{
    width: 90%;
    float: left;
    margin-bottom: 10px;
}
.card-title img{
    margin-bottom: 10px;
    width: 10%;
    float: right;
    align-content: right;
    opacity: 0.5;
}

.card-title img:hover{
    border-radius: 3px;
    opacity: 1;
}

.card-content{
    display: block;
    overflow: auto;
    min-height: 20px;
    cursor: pointer;
    font-weight:400;
    margin:10px 10px;
    margin-top:0; 
    background-color: white;
    padding:10px 10px;
    border-radius: 3px;
    border-bottom:1px solid gray;
}
.card-content-text{
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:90%;
}

.card-content-text:hover{
    overflow:visible;
    white-space: normal;
}

.card-content-status{
    padding-top: 10px;
    font-size:12px;
    color: rgba(0,0,0, 0.5);
}

.card-content img{
    max-width: 10%;
    float: right;
    height: 15px;
    margin:auto;
    opacity: 0.5;
    visibility: hidden;
    bottom: 5px;
}

.card-content:hover{
    background-color: rgb(245, 245, 245);
}

.card-content:hover img{
    visibility: visible;
}

.card-footer{
    position: relative;
}
.add-another-card{
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    margin:5px 5px;
    padding:7px 7px;
    margin-left:10px;
    color:gray;
    width: 210px;
}

.add-another-card:hover{
    border-radius: 3px;
    background-color: rgb(200, 200, 200);
}

.three-dots{
    width: 15px;
    margin-right:0;
    position: absolute;
    right: 10px;
    display: inline-block;
}

.three-dots a{
    text-decoration:none;
    color:gray; 
}

.account-management-cancel{
    position: absolute;
    display: inline-block;
    top:10px;
    right: 10px;
}

.account-management-cancel:hover{
    cursor: pointer;
}

.body-color{
    background-color:rgb(75,191,107);
}
.card__add-list{
    border-radius: 3px;
    padding:10px 10px;
    color: white;
    background-color: rgba(255,255,255, 0.3);
}

.card__add-list:hover{
    cursor: pointer;
    background-color: rgba(255,255,255, 0.5);
}

#add-another-list-in,
.add-another-card-in{
    margin-right: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 7px;
}

.add-another-list-button{
    margin-top:10px;
}

.add-another-card-button button{
    margin:10px 5px;
}

.add-another-card-input{
    padding: 0 10px;
}

.add-another-list-button button,
.add-another-card-button button{
    border:none;
    padding: 5px;
    border-radius: 3px;
    color:white;
    background-color: rgb(75,191,107);
}


